nav {
  background: #0d1117;
  border-bottom: 1px solid #1a1f24;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  margin-left: -170px;      /* shift left */
  transform: translateY(20px);  /* shift down slightly */
}


.highlight {
  color: #00aaff;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: #00aaff;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #00aaff;
  transition: all 0.3s;
}

/* MOBILE STYLES */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #0d1117;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-top: 1px solid #1a1f24;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

